/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
  margin: auto;
  width: 500px;
  padding: 10px;
  background-color: rgb(230, 222, 237);
}

#blue_plant {
  width: 150px;
  height: 150px;
  transition: transform 1.25s .5s;
  transform: translateX(300px);
}

#red_plant {
  width: 150px;
  height: 150px;
  float: right;
  transition: transform 1.25s .5s;
  transform: translateX(-300px);
}

#purp_mug {
  width: 150px;
  height: 150px;
  margin: auto;
}

h1 {
  font-size: 50px;
  opacity: 0%;
  font-family: 'Yellowtail', cursive;
  text-align: center;
  animation: house 2s 1.5s forwards;
}

h2 {
  font-size: 50px;
  opacity: 0%;
  font-family: 'Yellowtail', cursive;
  text-align: center;
  animation: house 2s 1.5s forwards;
}

@keyframes house {
  100% {
    opacity: 100%;
  }
}