/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  margin: auto;
  width: 500px;
  padding: 10px;
}

#blue_plant {
  width: 150px;
  height: 150px;
  transition: transform 1s .25s;
  transform: translateX(150px);
}

#red_plant {
  width: 150px;
  height: 150px;
  float: right;
  transition: transform 1s .25s;
  transform: translateX(-150px);
}

h1 {
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
  animation: house .8s alternate infinite;
}

@keyframes house {
  0% {
    color: white;
  }
  100% {
    color: black; 
    z-index: 2;
  }
}