/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/* body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
} */

#blue_plant, #red_plant, #purp_mug {
  width: 150px;
  height: 150px;
}

h1 {
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
  animation: house .8s alternate infinite;
}

@keyframes house {
  0% {
    color: white;
  }
  100% {
    color: black; 
    z-index: 2;
  }
}

@keyframes slide {
  100% {
    
  }
}